* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: inter;
    src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
}

/* Variaveis */
:root {
    --color-dark: #2b2b2b;
    --color-light: #ffffff;
    --color-placeholder: #F9A05E;
    --font-family: inter;
    --h1: bold min(6vw, 2.5rem) var(--font-family);
    --h2: bold min(5vw, 2rem) var(--font-family);
    --regular: normal min(4vw, 1.2rem) var(--font-family);
}

body {
    /* Background */
    min-height: 100vh;
    background: linear-gradient(0deg,
            #4A90B2 0%,
            #8E9AAF 35%,
            #D9A5B3 60%,
            #F9A05E 85%,
            #FF8C00 100%);
    /* alinhamento */
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    /* alinhamento */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* testes */
    padding: 8vw;
}

h1 {
    font: var(--h1);
    color: var(--color-light);
    background: var(--color-dark);
    border-radius: 8px;
    padding: 1.5vh 15vw;
    /* margin-bottom: 5vh; */
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7vh;
    margin: 15vw 0vw;
}

form input {
    background: none;
    stroke-linejoin: bevel;
    padding: 1vh 2.5vw;
    border: none;
    border-bottom: solid 1px var(--color-light);
    width: 45vw;
}

form input::placeholder {
    color: var(--color-light);
    text-decoration: none;
}

form input:focus {
    border: 0;
    outline: none;
    color: var(--color-light);
    border-bottom: 4px solid var(--color-placeholder);
}

.button {
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 3vw 9vw;
    border-radius: 8px;
    margin-bottom: 4vh;
    border: none;
    font: bolder;
}

button:hover {
    background-color: var(--color-placeholder);
    border: solid 1px var(--color-light);
}

.link {
    font: var(--regular);
}

nav {
    margin: 5vh 0vh;
}

/* @media (min-width: 1024px) {
    .container {
        background-color: blueviolet;
    }
} */