/* =========================
   RESET GLOBAL
   Remove margens padrão do navegador
   e garante cálculo de layout consistente
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* =========================
   FONTES
   Importação da fonte
========================= */

@font-face {
    font-family: inter;
    src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
}


/* =========================
   DESIGN SYSTEM / VARIÁVEIS
   Centraliza cores, tipografia e estilos reutilizáveis
========================= */

:root {
    --color-dark: #2b2b2b;
    --color-light: #ffffff;
    --color-placeholder: #F9A05E;

    --font-family: inter;

    /* Tipografia responsiva */
    --h1: bold min(6vw, 2.5rem) var(--font-family);
    --h2: bold min(5vw, 2rem) var(--font-family);
    --regular: normal min(4vw, 1.2rem) var(--font-family);

    /* Escala de espaçamento */
    --space-xs: 0.5rem;
    /* 8px */
    --space-sm: 1rem;
    /* 16px */
    --space-md: 1.5rem;
    /* 24px */
    --space-lg: 2rem;
    /* 32px */
    --space-xl: 3rem;
    /* 48px */
}


/* =========================
   BODY
   Aplica background gradiente
   e centraliza o conteúdo da página
========================= */

body {
    min-height: 100vh;

    background: linear-gradient(0deg,
            #4A90B2 0%,
            #8E9AAF 35%,
            #D9A5B3 60%,
            #F9A05E 85%,
            #FF8C00 100%);

    display: flex;
    align-items: center;
    justify-content: center;
}


/* =========================
   CONTAINER PRINCIPAL
   Estrutura que envolve o login
========================= */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: var(--space-xl);

    width: 100%;
    max-width: 768px;
}


/* =========================
   TÍTULO DAS PÁGINAS
========================= */

h1 {
    font: var(--h1);
    color: var(--color-light);
    background: var(--color-dark);

    border-radius: 8px;

    padding: var(--space-sm) var(--space-xl);
}

/* =========================
   SUBTÍTULO DO DASHBOARD
========================= */

h2 {
    font: var(--h2);
    color: var(--color-light);
    border-bottom: 1px solid var(--color-light);
    margin: var(--space-sm);
    width: 100%;
    display: flex;
    justify-content: center;
}

/* =========================
   TEXTO PADRÃO
========================= */

p {
    font: var(--regular);
    color: var(--color-light);
    margin: var(--space-xs);
    display: flex;
    justify-content: center;
}

/* =========================
INFOMAÇÕES DASHBOARD
========================= */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-xs);
    padding: var(--space-xs);
    width: 100%;
    max-width: 70%;
}

/* =========================
EMAIL DASHBOARD
========================= */

.email {
    padding: var(--space-xs);
    width: 100%;
}

.birth {
    padding: var(--space-xs);
    width: 100%;
}

/* =========================
   FORMULÁRIO
   Layout vertical para inputs
========================= */

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: var(--space-lg);
    margin: var(--space-xl) 0;

    width: 100%;
    max-width: 70%;
}


/* =========================
   INPUTS
   Estilo minimalista com borda inferior
========================= */

form input {
    background: none;
    stroke-linejoin: bevel;

    padding: var(--space-xs) var(--space-md);

    border: none;
    border-bottom: solid 1px var(--color-light);

    width: 100%;
}


/* Texto de dica dentro do input */

form input::placeholder {
    color: var(--color-light);
    text-decoration: none;
}


/* Estado ativo quando o usuário seleciona o campo */

form input:focus {
    border: 0;
    outline: none;

    color: var(--color-light);

    border-bottom: 4px solid var(--color-placeholder);
}


/* =========================
   BOTÃO PRINCIPAL
========================= */

.button {
    background-color: var(--color-dark);
    color: var(--color-light);

    width: 100%;
    
    padding: var(--space-sm) var(--space-lg);

    border-radius: 8px;

    margin-bottom: var(--space-lg);

    border: none;

    font-weight: bold;
}


/* Efeito hover do botão */

button:hover {
    background-color: var(--color-placeholder);
    border: solid 1px var(--color-light);
}


/* =========================
   LINK DE REGISTRO
========================= */

.link {
    font: var(--regular);
}


/* =========================
   NAVEGAÇÃO DE TESTES
   Para validações e testes
========================= */

nav {
    margin: var(--space-lg) 0;
}


/* =========================
   RESPONSIVIDADE (DESKTOP)
   Ajustes para telas maiores
========================= */


@media (min-width: 1024px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        max-width: 700px;

        padding: var(--space-xl);
        margin: var(--space-xl);

        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(100px);
        -webkit-backdrop-filter: blur(100px);

        border-radius: 20px;
        box-shadow: 0 8px 32px rgba(0,0,0,0.2);
    }

    form {
        width: 100%;
        max-width: 70%;
        gap: var(--space-xl);
    }
    
    .info {
        width: 100%;
        max-width: 70%;
    }

    .email {
        width: 100%;
    }
    
    .birth {
        width: 100%;
        margin-bottom: var(--space-sm);
    }
    
    .button {
        width: 100%;
    }
}